.idea
/shop/cache/*
/shop/sqlImport
/shop/var/*
!/shop/var/.gitkeep
/shop/app/cache/*
!/shop/app/cache/.gitkeep
/shop/app/test/cache/*
!/shop/app/test/cache/.gitkeep
/shop/app/bootstrap.php.cache
/shop/app/logs/*
!/shop/app/logs/.gitkeep
/shop/themes/*/cache/*
/shop/themes/*/assets/cache/*
/shop/download/*
!/shop/download/index.php
!/shop/download/.htaccess
/shop/upload/*
!/shop/upload/index.php
!/shop/upload/.htaccess
/shop/img/*
!/shop/img/m
!/shop/img/favicon.ico
!/shop/img/preston-login-wink@2x.png
!/shop/img/preston-login@2x.png
!/shop/img/logo-*.jpg
!/shop/img/m/fr-default-cart_default.jpg
!/shop/img/m/fr-default-home_default.jpg
!/shop/img/m/fr-default-news_default.jpg
!/shop/img/m/fr-default-small_product.jpg
/docker/mariadb/init/999-export.sql
node_modules
config_fr.xml
trusted_modules_list.xml
untrusted_modules_list.xml
